{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * UpsTracking plugin for Craft CMS 3.x
 *
 * UpsTracking Settings.twig
 *
 * @author    Michael Neumair
 * @copyright Copyright (c) 2018 Michael Neumair
 * @link      http://mimamuh.com/
 * @package   UpsTracking
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}

{# do view.registerAssetBundle("mimamuh\\upstracking\\assetbundles\\upstracking\\UpsTrackingAsset") #}

{% macro configWarning(setting) -%}
    {% if (craft.config.get(setting, 'upsTracking')) |length %}
        {{ "This is being overridden by the {setting} config setting in your upsTracking.php config file." |t({
            setting: setting
        }) |raw }}
    {% endif %}
{%- endmacro %}
{% from _self import configWarning %}

{{ 
    forms.textField({
        label: 'Access Key',
        instructions: 'The Access Key you could generate with a UPS user account.',
        id: 'accessKey',
        name: 'accessKey',
        value: settings['accessKey'],
        warning: configWarning('accessKey')
    })
}}

{{ 
    forms.textField({
        label: 'UserId',
        instructions: 'The UserId of your UPS user account.',
        id: 'userId',
        name: 'userId',
        value: settings['userId'],
        warning: configWarning('userId')
    })
}}

{{ 
    forms.textField({
        label: 'Password',
        instructions: 'The password of your UPS user account.',
        id: 'password',
        name: 'password',
        value: settings['password'],
        warning: configWarning('password')
    })
}}

{{ 
    forms.textField({
        label: 'Shipper Number',
        instructions: 'Your shipper number (account number) if you have one. Only needed when you track by reference number instead of tracking number.',
        id: 'shipperNumber',
        name: 'shipperNumber',
        value: settings['shipperNumber'],
        warning: configWarning('shipperNumber')
    })
}}
