{# Some helper macros to format date and time values #}
{% macro format_date(date) %}
	{{ date[6:2] }}/{{ date[4:2] }}/{{ date[0:4] }}
{% endmacro %}

{% macro format_time(time) %}
	{{ time[0:2] }}:{{ time[2:2] }}:{{ time[4:2] }}
{% endmacro %}

{% macro format_status(status) %}
	{% if status == 'Y' %}
    Package is delivered
  {% else %}
    Package is not delivered
  {% endif %}
{% endmacro %}

{# Make helper macros available under helpers #}
{% import _self as helpers %}

{# Get trackingNumber from url parameter 'trackingnum' #}
{% set trackingNumber = craft.app.request.getParam('trackingnum') %}

{# Passes the trackingNumber to UPS tracking api #}
{% set shipment = craft.upsTracking.getShipmentByReferenceNumber(trackingNumber) %}

{# Simple form to get the tracking number #}
<form action="">
	<input type="text" name="trackingnum" value="{{ trackingNumber }}" />
</form>

<span>Tracking number:</span>
<h3>{{ trackingNumber }}</h3>


{% if shipment is defined and shipment is not null %}
	<table>
		<tr>
			<td>Shipper.ShipperNumber<td>
			<td>{{ shipment.Shipper.ShipperNumber }}<td>
		</tr>
		<tr>
			<td>Shipper.Address.AddressLine1<td>
			<td>{{ shipment.Shipper.Address.AddressLine1 }}<td>
		</tr>
		<tr>
			<td>Shipper.Address.City<td>
			<td>{{ shipment.Shipper.Address.City }}<td>
		</tr>
		<tr>
			<td>Shipper.Address.PostalCode<td>
			<td>{{ shipment.Shipper.Address.PostalCode }}<td>
		</tr>
		<tr>
			<td>Shipper.Address.CountryCode<td>
			<td>{{ shipment.Shipper.Address.CountryCode }}<td>
		</tr>
	</table>

	<hr />

	<table>
		<tr>
			<td>ShipTo.Address.AddressLine1<td>
			<td>{{ shipment.ShipTo.Address.AddressLine1 }}<td>
		</tr>
		<tr>
			<td>ShipTo.Address.AddressLine2<td>
			<td>{{ shipment.ShipTo.Address.AddressLine2 }}<td>
		</tr>
		<tr>
			<td>ShipTo.Address.City<td>
			<td>{{ shipment.ShipTo.Address.City }}<td>
		</tr>
		<tr>
			<td>ShipTo.Address.StateProvinceCode<td>
			<td>{{ shipment.ShipTo.Address.StateProvinceCode }}<td>
		</tr>
		<tr>
			<td>ShipTo.Address.PostalCode<td>
			<td>{{ shipment.ShipTo.Address.PostalCode }}<td>
		</tr>
		<tr>
			<td>ShipTo.Address.CountryCode<td>
			<td>{{ shipment.ShipTo.Address.CountryCode }}<td>
		</tr>
	</table>

	<hr />

	<table>
		<tr>
			<td>ShipmentWeight.UnitOfMeasurement.Code<td>
			<td>{{ shipment.ShipmentWeight.UnitOfMeasurement.Code }}<td>
		</tr>
		<tr>
			<td>ShipmentWeight.Weight<td>
			<td>{{ shipment.ShipmentWeight.Weight }}<td>
		</tr>
	</table>

	<hr />

	<table>
		<tr>
			<td>Service.Code<td>
			<td>{{ shipment.Service.Code }}<td>
		</tr>
		<tr>
			<td>Service.Description<td>
			<td>{{ shipment.Service.Description }}<td>
		</tr>
	</table>

	<hr />

	<table>
		{% for Number in shipment.ReferenceNumber %}
			<tr>
				<td>ReferenceNumber[{{ loop.index0 }}].Code<td>
				<td>{{ Number.Code }}<td>
			</tr>
			<tr>
				<td>ReferenceNumber[{{ loop.index0 }}].Value<td>
				<td>{{ Number.Value }}<td>
			</tr>
		{% endfor %}
	</table>

	<hr />

	<table>
		<tr>
			<td>PickupDate<td>
			<td>{{ shipment.PickupDate }}<td>
		</tr>
	</table>

	<hr />

	<table>
		<tr>
			<td>Package.TrackingNumber<td>
			<td>{{ shipment.Package.TrackingNumber }}<td>
		</tr>
		<tr>
			<td>Package.DeliveryIndicator<td>
			<td>{{ helpers.format_status(shipment.Package.DeliveryIndicator) }}<td>
		</tr>
		<tr>
			<td>Package.DeliveryDate<td>
			<td>{{ helpers.format_date(shipment.Package.DeliveryDate) }}<td>
		</tr>
		<tr>
			<td>Package.TrackingNumber<td>
			<td>{{ shipment.Package.TrackingNumber }}<td>
		</tr>
		<tr>
			<td>Package.PackageWeight.UnitOfMeasurement.Code<td>
			<td>{{ shipment.Package.PackageWeight.UnitOfMeasurement.Code }}<td>
		</tr>
		<tr>
			<td>Package.PackageWeight.Weight<td>
			<td>{{ shipment.Package.PackageWeight.Weight }}<td>
		</tr>
		{% for Number in shipment.Package.ReferenceNumber %}
			<tr>
				<td>Package.ReferenceNumber[{{ loop.index0 }}].Code<td>
				<td>{{ Number.Code }}<td>
			</tr>
			<tr>
				<td>Package.ReferenceNumber[{{ loop.index0 }}].Value<td>
				<td>{{ Number.Value }}<td>
			</tr>
		{% endfor %}
		<tr>
			<td>Package.Activity<td>
			<td>

				{% for Activity in shipment.Package.Activity %}
					<table>
						{% if Activity.ActivityLocation.Address.City is defined %}
							<tr>
								<td>Activity[{{ loop.index0 }}].ActivityLocation.Address.City<td>
								<td>{{ Activity.ActivityLocation.Address.City }}<td>
							</tr>
						{% endif %}
						{% if Activity.ActivityLocation.Address.PostalCode is defined %}
							<tr>
								<td>Activity[{{ loop.index0 }}].ActivityLocation.Address.PostalCode<td>
								<td>{{ Activity.ActivityLocation.Address.PostalCode }}<td>
							</tr>
						{% endif %}
						{% if Activity.ActivityLocation.Address.CountryCode is defined %}
							<tr>
								<td>Activity[{{ loop.index0 }}].ActivityLocation.Address.CountryCode<td>
								<td>{{ Activity.ActivityLocation.Address.CountryCode }}<td>
							</tr>
						{% endif %}
						{% if Activity.ActivityLocation.Code is defined %}
							<tr>
								<td>Activity[{{ loop.index0 }}].ActivityLocation.Code<td>
								<td>{{ Activity.ActivityLocation.Code }}<td>
							</tr>
						{% endif %}
						{% if Activity.ActivityLocation.Description is defined %}
							<tr>
								<td>Activity[{{ loop.index0 }}].ActivityLocation.Description<td>
								<td>{{ Activity.ActivityLocation.Description }}<td>
							</tr>
						{% endif %}
						{% if Activity.ActivityLocation.SignedForByName is defined %}
							<tr>
								<td>Activity[{{ loop.index0 }}].ActivityLocation.SignedForByName<td>
								<td>{{ Activity.ActivityLocation.SignedForByName }}<td>
							</tr>
						{% endif %}
						<tr>
							<td>Activity[{{ loop.index0 }}].Status.StatusType.Code<td>
							<td>{{ Activity.Status.StatusType.Code }}<td>
						</tr>
						<tr>
							<td>Activity[{{ loop.index0 }}].Status.StatusType.Description<td>
							<td>{{ Activity.Status.StatusType.Description }}<td>
						</tr>
						<tr>
							<td>Activity[{{ loop.index0 }}].Status.StatusCode.Code<td>
							<td>{{ Activity.Status.StatusCode.Code }}<td>
						</tr>
						<tr>
							<td>Activity[{{ loop.index0 }}].Date<td>
							<td>{{ helpers.format_date(Activity.Date) }}<td>
						</tr>
						<tr>
							<td>Activity[{{ loop.index0 }}].Time<td>
							<td>{{ helpers.format_time(Activity.Time) }}<td>
						</tr>

					</table>
					<hr />
				{% endfor %}
			<td>
		</tr>
	</table>
{% else %}
	<div>No entry found or error occured.</div>
{% endif %}